h1{
    color: black;
}
.footer{
    color: black;
    background-color: #A3A0A0;
}
.footer a{
    color: darkslategray;
}
#navStyle{
    background-color: #E6C3C3;
}
@media screen and (max-width: 800px){
    img{
        display: none;
    }
}
body{
    background-color: #C6F7F9;
    /* #E9E1E1 */
}

#qs{
	background-color: #74FAE6;
}


/*
Paleta

Fuerte: #E6C3C3
Cuerpo: #E6D4D4
Ligero: #E9E1E1
Footer: #A3A0A0


*/